In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder,StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold
from sklearn.metrics import accuracy_score, r2_score, mean_squared_error
from sklearn.linear_model import LinearRegression, LogisticRegression
from catboost import CatBoostClassifier
from sklearn.metrics import log_loss, roc_auc_score

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sub = pd.read_csv('SampleSubmission.csv')

In [3]:
train.head()

,Applicant_ID,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,...,form_field42,form_field43,form_field44,form_field45,form_field46,form_field47,form_field48,form_field49,form_field50,default_status
0,Apcnt_1000000,3436.0,0.28505,1.6560,0.0,0.000,0.0,10689720.0,252072.0,4272776.0,...,0.392854,2.02,0.711632,0.0,0.0,charge,NaN,1.129518,0.044335,no
1,Apcnt_1000004,3456.0,0.67400,0.2342,0.0,0.000,0.0,898979.0,497531.0,9073814.0,...,0.314281,8.08,0.183584,NaN,0.0,charge,349.805730,1.620483,0.322436,no
2,Apcnt_1000008,3276.0,0.53845,3.1510,0.0,6.282,NaN,956940.0,NaN,192944.0,...,0.162965,18.18,0.791136,0.0,0.0,charge,NaN,1.513370,0.011640,yes
3,Apcnt_1000012,3372.0,0.17005,0.5050,0.0,0.000,192166.0,3044703.0,385499.0,3986472.0,...,0.488884,2.02,0.685168,NaN,0.0,charge,89.940100,0.664452,0.082729,no
4,Apcnt_1000016,3370.0,0.77270,1.1010,0.0,0.000,1556.0,214728.0,214728.0,1284089.0,...,0.275000,12.12,0.438168,0.0,0.0,charge,97.887502,1.427891,0.045630,no

In [4]:
train.isnull().sum()/len(train)*100

Applicant_ID       0.000000
form_field1        4.516071
form_field2        6.864286
form_field3        0.633929
form_field4        0.633929
form_field5        0.633929
form_field6       23.857143
form_field7        9.219643
form_field8       23.857143
form_field9       14.300000
form_field10       0.633929
form_field11      56.108929
form_field12      17.669643
form_field13      10.516071
form_field14       0.000000
form_field15      40.133929
form_field16      23.278571
form_field17      19.912500
form_field18      18.575000
form_field19       0.007143
form_field20       0.633929
form_field21      28.310714
form_field22      36.428571
form_field23      50.219643
form_field24      23.744643
form_field25       9.732143
form_field26      13.282143
form_field27      16.605357
form_field28       0.633929
form_field29       0.633929
form_field30      45.551786
form_field31      70.371429
form_field32       9.732143
form_field33       2.242857
form_field34       0.633929
form_field35      41.335714
form_field36       3.562500
form_field37       9.732143
form_field38       0.633929
form_field39       7.519643
form_field40      78.087500
form_field41      68.266071
form_field42       2.362500
form_field43       1.014286
form_field44       9.612500
form_field45      55.923214
form_field46      28.400000
form_field47       0.000000
form_field48      37.301786
form_field49       0.633929
form_field50      19.742857
default_status     0.000000
dtype: float64

In [5]:
train.drop(['form_field40', 'form_field31','form_field41','form_field11', 'form_field45', 'form_field23'],axis=1, inplace = True)
test.drop(['form_field40', 'form_field31','form_field41','form_field11', 'form_field45', 'form_field23'],axis=1, inplace = True)

In [6]:
train.fillna(-99999, inplace=True)
test.fillna(-99999, inplace=True)

In [7]:
train.isnull().sum()

Applicant_ID      0
form_field1       0
form_field2       0
form_field3       0
form_field4       0
form_field5       0
form_field6       0
form_field7       0
form_field8       0
form_field9       0
form_field10      0
form_field12      0
form_field13      0
form_field14      0
form_field15      0
form_field16      0
form_field17      0
form_field18      0
form_field19      0
form_field20      0
form_field21      0
form_field22      0
form_field24      0
form_field25      0
form_field26      0
form_field27      0
form_field28      0
form_field29      0
form_field30      0
form_field32      0
form_field33      0
form_field34      0
form_field35      0
form_field36      0
form_field37      0
form_field38      0
form_field39      0
form_field42      0
form_field43      0
form_field44      0
form_field46      0
form_field47      0
form_field48      0
form_field49      0
form_field50      0
default_status    0
dtype: int64

In [8]:
test.isnull().sum()

Applicant_ID    0
form_field1     0
form_field2     0
form_field3     0
form_field4     0
form_field5     0
form_field6     0
form_field7     0
form_field8     0
form_field9     0
form_field10    0
form_field12    0
form_field13    0
form_field14    0
form_field15    0
form_field16    0
form_field17    0
form_field18    0
form_field19    0
form_field20    0
form_field21    0
form_field22    0
form_field24    0
form_field25    0
form_field26    0
form_field27    0
form_field28    0
form_field29    0
form_field30    0
form_field32    0
form_field33    0
form_field34    0
form_field35    0
form_field36    0
form_field37    0
form_field38    0
form_field39    0
form_field42    0
form_field43    0
form_field44    0
form_field46    0
form_field47    0
form_field48    0
form_field49    0
form_field50    0
dtype: int64

In [9]:
from scipy.stats import skew,norm  # for some statistics

In [10]:
numeric_train = train.select_dtypes(include='number').columns
skew_features = train[numeric_train].apply(lambda x: skew(x)).sort_values(ascending=True)

high_skewtrain = skew_features[skew_features > 0.5]
skew_indextrain = high_skewtrain.index

print("There are {} numerical features with Skew > 0.5 :".format(high_skewtrain.shape[0]))
skewness = pd.DataFrame({'Skew' :high_skewtrain})
high_skewtrain

There are 11 numerical features with Skew > 0.5 :

form_field9       3.699367
form_field8       4.273139
form_field12      5.015246
form_field15      5.212030
form_field6       6.868198
form_field48     13.222211
form_field50     17.224354
form_field10     18.037849
form_field7      37.773409
form_field13     56.209804
form_field14    118.544302
dtype: float64

In [11]:
skew_indextrain

Index(['form_field9', 'form_field8', 'form_field12', 'form_field15',
       'form_field6', 'form_field48', 'form_field50', 'form_field10',
       'form_field7', 'form_field13', 'form_field14'],
      dtype='object')

In [12]:
# Normalize skewed features using log transformation
for column in skew_indextrain:
    train[column] = np.log1p(train[column])

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [13]:
numeric_test = test.select_dtypes(include='number').columns
skew_features = test[numeric_test].apply(lambda x: skew(x)).sort_values(ascending=True)

high_skewtest = skew_features[skew_features > 0.5]
skew_indextest = high_skewtest.index

print("There are {} numerical features with Skew > 0.5 :".format(high_skewtest.shape[0]))
skewness = pd.DataFrame({'Skew' :high_skewtest})
high_skewtest

There are 12 numerical features with Skew > 0.5 :

form_field19     3.148678
form_field8      4.348827
form_field15     6.652310
form_field12     7.572344
form_field10     7.727398
form_field6      8.017278
form_field7     13.474686
form_field9     14.770864
form_field50    17.377388
form_field13    27.749131
form_field48    29.693249
form_field14    87.264067
dtype: float64

In [14]:
# Normalize skewed features using log transformation
for column in skew_indextest:
    test[column] = np.log1p(test[column])

In [15]:
train.drop(['Applicant_ID'], inplace=True, axis=1)
test.drop(['Applicant_ID'], inplace=True, axis=1)

In [16]:
train.head()

,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,form_field10,...,form_field39,form_field42,form_field43,form_field44,form_field46,form_field47,form_field48,form_field49,form_field50,default_status
0,3436.0,0.28505,1.6560,0.0,0.000,0.000000,16.184793,12.437474,15.267775,16.243241,...,0.0,0.392854,2.02,0.711632,0.0,charge,NaN,1.129518,0.043380,no
1,3456.0,0.67400,0.2342,0.0,0.000,0.000000,13.709016,13.117415,16.020903,14.744982,...,0.0,0.314281,8.08,0.183584,0.0,charge,5.860233,1.620483,0.279476,no
2,3276.0,0.53845,3.1510,0.0,6.282,NaN,13.771497,NaN,12.170160,13.892347,...,0.0,0.162965,18.18,0.791136,0.0,charge,NaN,1.513370,0.011572,yes
3,3372.0,0.17005,0.5050,0.0,0.000,12.166120,14.928914,12.862296,15.198417,15.102531,...,1.0,0.488884,2.02,0.685168,0.0,charge,4.510201,0.664452,0.079484,no
4,3370.0,0.77270,1.1010,0.0,0.000,7.350516,12.277132,12.277132,14.065561,12.798767,...,0.0,0.275000,12.12,0.438168,0.0,charge,4.593983,1.427891,0.044619,no

In [17]:
for column in train:
    if column not in skew_indextrain:
        print(column)

form_field1
form_field2
form_field3
form_field4
form_field5
form_field16
form_field17
form_field18
form_field19
form_field20
form_field21
form_field22
form_field24
form_field25
form_field26
form_field27
form_field28
form_field29
form_field30
form_field32
form_field33
form_field34
form_field35
form_field36
form_field37
form_field38
form_field39
form_field42
form_field43
form_field44
form_field46
form_field47
form_field49
default_status

In [18]:
for i in numeric_train:
    if i not in skew_indextrain:
        print(i)

form_field1
form_field2
form_field3
form_field4
form_field5
form_field16
form_field17
form_field18
form_field19
form_field20
form_field21
form_field22
form_field24
form_field25
form_field26
form_field27
form_field28
form_field29
form_field30
form_field32
form_field33
form_field34
form_field35
form_field36
form_field37
form_field38
form_field39
form_field42
form_field43
form_field44
form_field46
form_field49

In [19]:
sc = StandardScaler()
for i in numeric_train:
    if i not in skew_indextrain:
        sc.fit_transform(train[[i]])

In [20]:
train.head()

,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,form_field10,...,form_field39,form_field42,form_field43,form_field44,form_field46,form_field47,form_field48,form_field49,form_field50,default_status
0,3436.0,0.28505,1.6560,0.0,0.000,0.000000,16.184793,12.437474,15.267775,16.243241,...,0.0,0.392854,2.02,0.711632,0.0,charge,NaN,1.129518,0.043380,no
1,3456.0,0.67400,0.2342,0.0,0.000,0.000000,13.709016,13.117415,16.020903,14.744982,...,0.0,0.314281,8.08,0.183584,0.0,charge,5.860233,1.620483,0.279476,no
2,3276.0,0.53845,3.1510,0.0,6.282,NaN,13.771497,NaN,12.170160,13.892347,...,0.0,0.162965,18.18,0.791136,0.0,charge,NaN,1.513370,0.011572,yes
3,3372.0,0.17005,0.5050,0.0,0.000,12.166120,14.928914,12.862296,15.198417,15.102531,...,1.0,0.488884,2.02,0.685168,0.0,charge,4.510201,0.664452,0.079484,no
4,3370.0,0.77270,1.1010,0.0,0.000,7.350516,12.277132,12.277132,14.065561,12.798767,...,0.0,0.275000,12.12,0.438168,0.0,charge,4.593983,1.427891,0.044619,no

In [21]:
train = train.replace('NaN', -9999)

In [22]:
train.head()

,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,form_field10,...,form_field39,form_field42,form_field43,form_field44,form_field46,form_field47,form_field48,form_field49,form_field50,default_status
0,3436.0,0.28505,1.6560,0.0,0.000,0.000000,16.184793,12.437474,15.267775,16.243241,...,0.0,0.392854,2.02,0.711632,0.0,charge,NaN,1.129518,0.043380,no
1,3456.0,0.67400,0.2342,0.0,0.000,0.000000,13.709016,13.117415,16.020903,14.744982,...,0.0,0.314281,8.08,0.183584,0.0,charge,5.860233,1.620483,0.279476,no
2,3276.0,0.53845,3.1510,0.0,6.282,NaN,13.771497,NaN,12.170160,13.892347,...,0.0,0.162965,18.18,0.791136,0.0,charge,NaN,1.513370,0.011572,yes
3,3372.0,0.17005,0.5050,0.0,0.000,12.166120,14.928914,12.862296,15.198417,15.102531,...,1.0,0.488884,2.02,0.685168,0.0,charge,4.510201,0.664452,0.079484,no
4,3370.0,0.77270,1.1010,0.0,0.000,7.350516,12.277132,12.277132,14.065561,12.798767,...,0.0,0.275000,12.12,0.438168,0.0,charge,4.593983,1.427891,0.044619,no

In [23]:
product = {'charge':1, 'lending':0}
default = {'yes':1, 'no':0}
train['default_status'].replace(default, inplace=True)
train['form_field47'].replace(product, inplace=True)

In [24]:
train.describe()

,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,form_field10,...,form_field39,form_field42,form_field43,form_field44,form_field46,form_field47,form_field48,form_field49,form_field50,default_status
count,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,42640.000000,50837.000000,42640.000000,47992.000000,55645.000000,...,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,35111.000000,56000.000000,44944.000000,56000.000000
mean,-1181.922589,-6863.704139,-632.876677,-633.075654,-631.978317,10.000443,14.013063,13.055830,15.226505,13.205126,...,-7519.483643,-2362.116859,-1007.708353,-9611.894653,-28399.647714,0.649518,6.205387,-632.879822,0.692438,0.244911
std,21491.517860,25284.695483,7936.761742,7936.746184,7936.840126,4.911272,3.378568,3.304525,2.048421,5.403683,...,26370.798824,15187.817433,10020.625913,29476.393469,45093.674961,0.477125,3.345217,7936.761406,2.570089,0.430038
min,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,0.000000,0.000000,-99999.000000,0.000000,0.000000
25%,3336.000000,0.047700,0.000000,0.000000,0.000000,9.547170,13.440053,12.170160,14.129228,13.017167,...,0.000000,0.000000,2.020000,0.349148,-99999.000000,0.000000,4.358000,0.000000,0.044592,0.000000
50%,3474.000000,0.226700,0.060000,0.000000,0.000000,11.657320,14.810364,13.778787,15.521403,15.125885,...,0.000000,0.206250,5.050000,0.548080,0.000000,1.000000,5.765581,0.000000,0.157345,0.000000
75%,3610.000000,0.675700,1.270800,0.000000,0.000000,13.172922,15.760539,15.137671,16.645514,16.400339,...,0.000000,0.611116,10.100000,0.739474,0.000000,1.000000,7.051008,1.158480,0.405023,0.000000
max,3900.000000,18.015050,57.371600,91.672200,407.748600,17.788355,21.492816,18.457395,19.583998,21.507789,...,21.000000,2.200000,91.910000,0.800000,5.000000,1.000000,17.789760,28.000000,19.256876,1.000000

In [25]:
sc = StandardScaler()
for i in numeric_test:
    if i not in skew_indextest:
        sc.fit_transform(test[[i]])

In [26]:
test.head()

,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,form_field10,...,form_field38,form_field39,form_field42,form_field43,form_field44,form_field46,form_field47,form_field48,form_field49,form_field50
0,3236.0,0.34875,10.2006,0.0000,0.0,12.944587,12.944587,12.944587,13.200640,0.000000,...,14.0,0.0,0.825000,1.01,0.800000,0.0,charge,NaN,0.000000,0.011159
1,3284.0,1.27360,2.9606,9.0198,0.0,0.000000,16.103877,10.799882,14.227686,16.722864,...,14.0,2.0,0.507694,4.04,0.623248,0.0,lending,NaN,0.504974,0.042604
2,-99999.0,0.27505,0.0600,0.0000,0.0,NaN,NaN,NaN,NaN,0.000000,...,0.0,-99999.0,-99999.000000,0.00,-99999.000000,-99999.0,charge,NaN,0.000000,NaN
3,3232.0,0.28505,2.8032,0.0000,0.0,0.000000,13.068547,13.068547,14.360412,13.109566,...,26.0,0.0,0.916663,2.02,0.464224,-99999.0,charge,4.512657,0.788809,0.098966
4,3466.0,2.09545,0.8318,2.5182,0.0,9.895455,13.955849,13.955849,15.877364,15.565218,...,20.0,0.0,0.234047,23.23,0.726688,0.0,lending,7.173642,1.637733,0.151110

In [27]:
test = test.replace('NaN', -9999)

In [28]:
test.head()

,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,form_field10,...,form_field38,form_field39,form_field42,form_field43,form_field44,form_field46,form_field47,form_field48,form_field49,form_field50
0,3236.0,0.34875,10.2006,0.0000,0.0,12.944587,12.944587,12.944587,13.200640,0.000000,...,14.0,0.0,0.825000,1.01,0.800000,0.0,charge,NaN,0.000000,0.011159
1,3284.0,1.27360,2.9606,9.0198,0.0,0.000000,16.103877,10.799882,14.227686,16.722864,...,14.0,2.0,0.507694,4.04,0.623248,0.0,lending,NaN,0.504974,0.042604
2,-99999.0,0.27505,0.0600,0.0000,0.0,NaN,NaN,NaN,NaN,0.000000,...,0.0,-99999.0,-99999.000000,0.00,-99999.000000,-99999.0,charge,NaN,0.000000,NaN
3,3232.0,0.28505,2.8032,0.0000,0.0,0.000000,13.068547,13.068547,14.360412,13.109566,...,26.0,0.0,0.916663,2.02,0.464224,-99999.0,charge,4.512657,0.788809,0.098966
4,3466.0,2.09545,0.8318,2.5182,0.0,9.895455,13.955849,13.955849,15.877364,15.565218,...,20.0,0.0,0.234047,23.23,0.726688,0.0,lending,7.173642,1.637733,0.151110

In [29]:
test['form_field47'].replace(product, inplace=True)

In [30]:
test.head()

,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,form_field10,...,form_field38,form_field39,form_field42,form_field43,form_field44,form_field46,form_field47,form_field48,form_field49,form_field50
0,3236.0,0.34875,10.2006,0.0000,0.0,12.944587,12.944587,12.944587,13.200640,0.000000,...,14.0,0.0,0.825000,1.01,0.800000,0.0,1,NaN,0.000000,0.011159
1,3284.0,1.27360,2.9606,9.0198,0.0,0.000000,16.103877,10.799882,14.227686,16.722864,...,14.0,2.0,0.507694,4.04,0.623248,0.0,0,NaN,0.504974,0.042604
2,-99999.0,0.27505,0.0600,0.0000,0.0,NaN,NaN,NaN,NaN,0.000000,...,0.0,-99999.0,-99999.000000,0.00,-99999.000000,-99999.0,1,NaN,0.000000,NaN
3,3232.0,0.28505,2.8032,0.0000,0.0,0.000000,13.068547,13.068547,14.360412,13.109566,...,26.0,0.0,0.916663,2.02,0.464224,-99999.0,1,4.512657,0.788809,0.098966
4,3466.0,2.09545,0.8318,2.5182,0.0,9.895455,13.955849,13.955849,15.877364,15.565218,...,20.0,0.0,0.234047,23.23,0.726688,0.0,0,7.173642,1.637733,0.151110

In [31]:
features = train.select_dtypes(exclude=object).columns.drop(['default_status'])
for col in features:
    train[col].fillna(-999, inplace = True)
    test[col].fillna(-999, inplace = True)

In [32]:
train.head()

,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,form_field10,...,form_field39,form_field42,form_field43,form_field44,form_field46,form_field47,form_field48,form_field49,form_field50,default_status
0,3436.0,0.28505,1.6560,0.0,0.000,0.000000,16.184793,12.437474,15.267775,16.243241,...,0.0,0.392854,2.02,0.711632,0.0,1,-999.000000,1.129518,0.043380,0
1,3456.0,0.67400,0.2342,0.0,0.000,0.000000,13.709016,13.117415,16.020903,14.744982,...,0.0,0.314281,8.08,0.183584,0.0,1,5.860233,1.620483,0.279476,0
2,3276.0,0.53845,3.1510,0.0,6.282,-999.000000,13.771497,-999.000000,12.170160,13.892347,...,0.0,0.162965,18.18,0.791136,0.0,1,-999.000000,1.513370,0.011572,1
3,3372.0,0.17005,0.5050,0.0,0.000,12.166120,14.928914,12.862296,15.198417,15.102531,...,1.0,0.488884,2.02,0.685168,0.0,1,4.510201,0.664452,0.079484,0
4,3370.0,0.77270,1.1010,0.0,0.000,7.350516,12.277132,12.277132,14.065561,12.798767,...,0.0,0.275000,12.12,0.438168,0.0,1,4.593983,1.427891,0.044619,0

In [33]:
X = train[features]
y = train['default_status']

In [34]:
def metric(y, pred):
    return roc_auc_score(y, pred, labels=[0,1])

In [35]:
n_skf = 5
kf = StratifiedKFold(n_skf)
seed = 2020
params = {'n_estimators':4000, 'learning_rate':0.01, 
          'objective':'CrossEntropy', 'eval_metric':'AUC', 
          'random_seed':seed, 'early_stopping_rounds':200, 
          'use_best_model':True,}

In [36]:
score_list = []
score=0
test_oofs = []
for i, (tr_idx, vr_idx) in enumerate(kf.split(X,y)):
    X_train, y_train = X.loc[tr_idx, features], y.loc[tr_idx]
    xval, yval = X.loc[vr_idx, features], y.loc[vr_idx]
    
    model = CatBoostClassifier(**params)
    model.fit(X_train, y_train, eval_set=[(xval, yval)], verbose=100)
    p = model.predict_proba(xval)[:, 1]
    
    sc = metric(yval, p)
    score_list.append(sc)
    score+= sc/n_skf
    
    pred = model.predict_proba(test[features])[:, 1]
    test_oofs.append(pred)
    print('Fold {} : {}'. format(i, sc))

print()
print()
print('Avg log :', score)

0:	test: 0.7975090	best: 0.7975090 (0)	total: 154ms	remaining: 10m 14s
100:	test: 0.8249326	best: 0.8249326 (100)	total: 5.67s	remaining: 3m 38s
200:	test: 0.8287990	best: 0.8287990 (200)	total: 11.1s	remaining: 3m 28s
300:	test: 0.8310877	best: 0.8310877 (300)	total: 16.6s	remaining: 3m 23s
400:	test: 0.8325625	best: 0.8325625 (400)	total: 22s	remaining: 3m 17s
500:	test: 0.8337920	best: 0.8337920 (500)	total: 27s	remaining: 3m 8s
600:	test: 0.8347438	best: 0.8347498 (599)	total: 31.9s	remaining: 3m
700:	test: 0.8354861	best: 0.8354861 (700)	total: 37.5s	remaining: 2m 56s
800:	test: 0.8360833	best: 0.8360846 (799)	total: 43.1s	remaining: 2m 52s
900:	test: 0.8366536	best: 0.8366536 (900)	total: 49s	remaining: 2m 48s
1000:	test: 0.8370111	best: 0.8370111 (1000)	total: 54.1s	remaining: 2m 41s
1100:	test: 0.8374292	best: 0.8374292 (1100)	total: 58.7s	remaining: 2m 34s
1200:	test: 0.8377915	best: 0.8377915 (1200)	total: 1m 4s	remaining: 2m 29s
1300:	test: 0.8381274	best: 0.8381291 (1294)	total: 1m 10s	remaining: 2m 25s
1400:	test: 0.8382837	best: 0.8382849 (1398)	total: 1m 15s	remaining: 2m 20s
1500:	test: 0.8384601	best: 0.8384641 (1497)	total: 1m 21s	remaining: 2m 15s
1600:	test: 0.8386677	best: 0.8386726 (1596)	total: 1m 26s	remaining: 2m 10s
1700:	test: 0.8388256	best: 0.8388256 (1700)	total: 1m 32s	remaining: 2m 4s
1800:	test: 0.8389442	best: 0.8389444 (1798)	total: 1m 37s	remaining: 1m 59s
1900:	test: 0.8390309	best: 0.8390309 (1900)	total: 1m 43s	remaining: 1m 53s
2000:	test: 0.8391219	best: 0.8391296 (1994)	total: 1m 47s	remaining: 1m 47s
2100:	test: 0.8392374	best: 0.8392418 (2098)	total: 1m 53s	remaining: 1m 42s
2200:	test: 0.8392689	best: 0.8392778 (2195)	total: 2m	remaining: 1m 38s
2300:	test: 0.8393866	best: 0.8393910 (2295)	total: 2m 6s	remaining: 1m 33s
2400:	test: 0.8394832	best: 0.8394875 (2399)	total: 2m 12s	remaining: 1m 28s
2500:	test: 0.8395209	best: 0.8395453 (2490)	total: 2m 17s	remaining: 1m 22s
2600:	test: 0.8395291	best: 0.8395465 (2530)	total: 2m 22s	remaining: 1m 16s
2700:	test: 0.8395367	best: 0.8395525 (2686)	total: 2m 27s	remaining: 1m 11s
2800:	test: 0.8395750	best: 0.8396119 (2762)	total: 2m 33s	remaining: 1m 5s
2900:	test: 0.8395214	best: 0.8396119 (2762)	total: 2m 39s	remaining: 1m
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.8396119487
bestIteration = 2762

Shrink model to first 2763 iterations.
Fold 0 : 0.8396119486923425
0:	test: 0.7878501	best: 0.7878501 (0)	total: 76.1ms	remaining: 5m 4s
100:	test: 0.8216083	best: 0.8216083 (100)	total: 6.44s	remaining: 4m 8s
200:	test: 0.8267208	best: 0.8267208 (200)	total: 12s	remaining: 3m 46s
300:	test: 0.8297776	best: 0.8297776 (300)	total: 17.7s	remaining: 3m 37s
400:	test: 0.8315264	best: 0.8315264 (400)	total: 22.8s	remaining: 3m 24s
500:	test: 0.8327285	best: 0.8327285 (500)	total: 28s	remaining: 3m 15s
600:	test: 0.8335905	best: 0.8335920 (599)	total: 34s	remaining: 3m 12s
700:	test: 0.8342552	best: 0.8342552 (700)	total: 39.8s	remaining: 3m 7s
800:	test: 0.8347790	best: 0.8347802 (799)	total: 46.5s	remaining: 3m 5s
900:	test: 0.8353162	best: 0.8353162 (900)	total: 52.9s	remaining: 3m 2s
1000:	test: 0.8357333	best: 0.8357333 (1000)	total: 58.7s	remaining: 2m 55s
1100:	test: 0.8360908	best: 0.8360908 (1100)	total: 1m 4s	remaining: 2m 48s
1200:	test: 0.8363595	best: 0.8363664 (1196)	total: 1m 9s	remaining: 2m 41s
1300:	test: 0.8366712	best: 0.8366712 (1300)	total: 1m 14s	remaining: 2m 34s
1400:	test: 0.8369433	best: 0.8369526 (1399)	total: 1m 20s	remaining: 2m 28s
1500:	test: 0.8371889	best: 0.8371894 (1498)	total: 1m 25s	remaining: 2m 22s
1600:	test: 0.8373454	best: 0.8373454 (1600)	total: 1m 30s	remaining: 2m 15s
1700:	test: 0.8374882	best: 0.8374967 (1697)	total: 1m 35s	remaining: 2m 9s
1800:	test: 0.8375608	best: 0.8375749 (1778)	total: 1m 41s	remaining: 2m 4s
1900:	test: 0.8377329	best: 0.8377605 (1882)	total: 1m 47s	remaining: 1m 58s
2000:	test: 0.8377699	best: 0.8377882 (1982)	total: 1m 52s	remaining: 1m 52s
2100:	test: 0.8378222	best: 0.8378419 (2098)	total: 1m 58s	remaining: 1m 46s
2200:	test: 0.8378882	best: 0.8379078 (2143)	total: 2m 3s	remaining: 1m 40s
2300:	test: 0.8379090	best: 0.8379237 (2281)	total: 2m 8s	remaining: 1m 34s
2400:	test: 0.8378919	best: 0.8379237 (2281)	total: 2m 13s	remaining: 1m 28s
2500:	test: 0.8379932	best: 0.8379932 (2500)	total: 2m 17s	remaining: 1m 22s
2600:	test: 0.8380040	best: 0.8380209 (2591)	total: 2m 21s	remaining: 1m 16s
2700:	test: 0.8380004	best: 0.8380685 (2638)	total: 2m 25s	remaining: 1m 9s
2800:	test: 0.8380092	best: 0.8380685 (2638)	total: 2m 29s	remaining: 1m 4s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.8380684668
bestIteration = 2638

Shrink model to first 2639 iterations.
Fold 1 : 0.838068466796344
0:	test: 0.7899935	best: 0.7899935 (0)	total: 42.1ms	remaining: 2m 48s
100:	test: 0.8277687	best: 0.8277687 (100)	total: 5.02s	remaining: 3m 13s
200:	test: 0.8315401	best: 0.8315470 (199)	total: 9.2s	remaining: 2m 53s
300:	test: 0.8341855	best: 0.8341855 (300)	total: 14.9s	remaining: 3m 3s
400:	test: 0.8359440	best: 0.8359440 (400)	total: 20.3s	remaining: 3m 2s
500:	test: 0.8372303	best: 0.8372303 (500)	total: 26.3s	remaining: 3m 3s
600:	test: 0.8382594	best: 0.8382627 (599)	total: 32.5s	remaining: 3m 3s
700:	test: 0.8389366	best: 0.8389366 (700)	total: 38.1s	remaining: 2m 59s
800:	test: 0.8396983	best: 0.8396983 (800)	total: 44s	remaining: 2m 55s
900:	test: 0.8401507	best: 0.8401507 (900)	total: 50.7s	remaining: 2m 54s
1000:	test: 0.8404939	best: 0.8404963 (997)	total: 55.2s	remaining: 2m 45s
1100:	test: 0.8409122	best: 0.8409122 (1100)	total: 59.6s	remaining: 2m 36s
1200:	test: 0.8413618	best: 0.8413635 (1199)	total: 1m 3s	remaining: 2m 28s
1300:	test: 0.8416110	best: 0.8416110 (1300)	total: 1m 8s	remaining: 2m 21s
1400:	test: 0.8418198	best: 0.8418206 (1387)	total: 1m 13s	remaining: 2m 17s
1500:	test: 0.8419271	best: 0.8419336 (1495)	total: 1m 19s	remaining: 2m 12s
1600:	test: 0.8421648	best: 0.8421648 (1600)	total: 1m 24s	remaining: 2m 6s
1700:	test: 0.8423210	best: 0.8423226 (1699)	total: 1m 29s	remaining: 2m 1s
1800:	test: 0.8423936	best: 0.8423965 (1791)	total: 1m 34s	remaining: 1m 55s
1900:	test: 0.8424736	best: 0.8424885 (1869)	total: 1m 40s	remaining: 1m 50s
2000:	test: 0.8425353	best: 0.8425353 (2000)	total: 1m 45s	remaining: 1m 45s
2100:	test: 0.8426042	best: 0.8426042 (2100)	total: 1m 50s	remaining: 1m 40s
2200:	test: 0.8427182	best: 0.8427192 (2199)	total: 1m 56s	remaining: 1m 34s
2300:	test: 0.8428514	best: 0.8428590 (2296)	total: 2m 1s	remaining: 1m 29s
2400:	test: 0.8429203	best: 0.8429333 (2368)	total: 2m 7s	remaining: 1m 24s
2500:	test: 0.8428757	best: 0.8429333 (2368)	total: 2m 12s	remaining: 1m 19s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.8429333338
bestIteration = 2368

Shrink model to first 2369 iterations.
Fold 2 : 0.8429333337816565
0:	test: 0.7845434	best: 0.7845434 (0)	total: 62.1ms	remaining: 4m 8s
100:	test: 0.8157729	best: 0.8157729 (100)	total: 5s	remaining: 3m 13s
200:	test: 0.8208436	best: 0.8208436 (200)	total: 9.58s	remaining: 3m 1s
300:	test: 0.8236711	best: 0.8236711 (300)	total: 14s	remaining: 2m 52s
400:	test: 0.8253341	best: 0.8253341 (400)	total: 18.5s	remaining: 2m 45s
500:	test: 0.8265132	best: 0.8265132 (500)	total: 23.3s	remaining: 2m 42s
600:	test: 0.8274716	best: 0.8274716 (600)	total: 28.7s	remaining: 2m 42s
700:	test: 0.8282111	best: 0.8282111 (700)	total: 33.8s	remaining: 2m 38s
800:	test: 0.8287348	best: 0.8287348 (800)	total: 38.6s	remaining: 2m 34s
900:	test: 0.8291500	best: 0.8291500 (900)	total: 43.1s	remaining: 2m 28s
1000:	test: 0.8295602	best: 0.8295602 (1000)	total: 47.6s	remaining: 2m 22s
1100:	test: 0.8298943	best: 0.8298943 (1100)	total: 52.1s	remaining: 2m 17s
1200:	test: 0.8302425	best: 0.8302425 (1200)	total: 56.6s	remaining: 2m 11s
1300:	test: 0.8304599	best: 0.8304599 (1300)	total: 1m 1s	remaining: 2m 6s
1400:	test: 0.8305778	best: 0.8305832 (1397)	total: 1m 5s	remaining: 2m 1s
1500:	test: 0.8306955	best: 0.8307011 (1498)	total: 1m 10s	remaining: 1m 56s
1600:	test: 0.8308058	best: 0.8308143 (1598)	total: 1m 14s	remaining: 1m 51s
1700:	test: 0.8308534	best: 0.8308793 (1667)	total: 1m 19s	remaining: 1m 46s

1800:	test: 0.8309883	best: 0.8309935 (1795)	total: 1m 23s	remaining: 1m 42s
1900:	test: 0.8310549	best: 0.8310866 (1879)	total: 1m 28s	remaining: 1m 37s
2000:	test: 0.8311565	best: 0.8311565 (2000)	total: 1m 32s	remaining: 1m 32s
2100:	test: 0.8311921	best: 0.8312030 (2097)	total: 1m 37s	remaining: 1m 27s
2200:	test: 0.8311856	best: 0.8312222 (2147)	total: 1m 41s	remaining: 1m 23s
2300:	test: 0.8312407	best: 0.8312449 (2258)	total: 1m 46s	remaining: 1m 18s
2400:	test: 0.8312368	best: 0.8312637 (2344)	total: 1m 50s	remaining: 1m 13s
2500:	test: 0.8313119	best: 0.8313120 (2490)	total: 1m 55s	remaining: 1m 9s
2600:	test: 0.8313410	best: 0.8313861 (2567)	total: 1m 59s	remaining: 1m 4s
2700:	test: 0.8313720	best: 0.8313861 (2567)	total: 2m 4s	remaining: 59.7s
2800:	test: 0.8314196	best: 0.8314588 (2762)	total: 2m 8s	remaining: 55.1s
2900:	test: 0.8314069	best: 0.8314588 (2762)	total: 2m 13s	remaining: 50.4s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.8314588467
bestIteration = 2762

Shrink model to first 2763 iterations.
Fold 3 : 0.8314588466687711
0:	test: 0.8110038	best: 0.8110038 (0)	total: 51.9ms	remaining: 3m 27s
100:	test: 0.8362214	best: 0.8362214 (100)	total: 4.99s	remaining: 3m 12s
200:	test: 0.8403622	best: 0.8403622 (200)	total: 9.6s	remaining: 3m 1s
300:	test: 0.8424769	best: 0.8424769 (300)	total: 14.3s	remaining: 2m 55s
400:	test: 0.8439843	best: 0.8439843 (400)	total: 18.8s	remaining: 2m 48s
500:	test: 0.8449698	best: 0.8449698 (500)	total: 23.2s	remaining: 2m 42s
600:	test: 0.8459404	best: 0.8459404 (600)	total: 27.6s	remaining: 2m 36s
700:	test: 0.8465429	best: 0.8465429 (700)	total: 32.1s	remaining: 2m 30s
800:	test: 0.8470793	best: 0.8470793 (800)	total: 36.5s	remaining: 2m 25s
900:	test: 0.8476274	best: 0.8476274 (900)	total: 40.9s	remaining: 2m 20s
1000:	test: 0.8479332	best: 0.8479370 (998)	total: 45.9s	remaining: 2m 17s
1100:	test: 0.8483042	best: 0.8483042 (1100)	total: 51.4s	remaining: 2m 15s
1200:	test: 0.8485123	best: 0.8485123 (1200)	total: 56.1s	remaining: 2m 10s
1300:	test: 0.8486648	best: 0.8486928 (1291)	total: 1m 1s	remaining: 2m 6s
1400:	test: 0.8487082	best: 0.8487339 (1343)	total: 1m 5s	remaining: 2m 2s
1500:	test: 0.8486541	best: 0.8487339 (1343)	total: 1m 10s	remaining: 1m 58s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.8487339461
bestIteration = 1343

Shrink model to first 1344 iterations.
Fold 4 : 0.8487339460962927


Avg log : 0.8401613084070814

In [37]:
f'{n_skf} fold CV, score: {score}'

'5 fold CV, score: 0.8401613084070814'

In [38]:
oof_prediction = pd.DataFrame(test_oofs).T

In [39]:
oof_prediction.columns = ['fold' +str(i) for i in range(1, n_skf + 1)]

In [40]:
sub['default_status'] = np.mean(test_oofs, axis=0)

In [41]:
sub.to_csv('fourth_submission.csv', index=False)